@import "compass/css3/transition";
@import "compass/css3/box-sizing";

chessboard {

  position: absolute;
  background: #ccc;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  overflow: visible;

  .playWhite, .playBlack, .inviteFriend {
    position: absolute;
    @include box-sizing(border-box);
    width: 120px;
    height: 32px;
    margin: -16px 0 0 -60px;
  }

  #blocker {
    position: absolute;
    width: 100%;
    height: 150%;
    top: -25%;
  }

  .piece, .cell {
    position: absolute;
    @include box-sizing(border-box);
    height: 12.5%;
    width: 12.5%;
  }

  $colorWhite: #fff;
  $shadowWhite: 1px 1px 1px #333, -1px 1px 1px #333, 1px -1px 1px #333, -1px -1px 1px #333;
  $colorBlack: #333;
  $shadowBlack: 0px 0px 1px #fff, 0px 0px 1px #fff, 0px 0px 1px #fff, 0px 0px 1px #fff;
  
  #PBa, #PBb, #PBc, #PBd, #PBe, #PBf, #PBg, #PBh { background: url('../images/PB.svg'); background-size: 100% 100%; }
  #RBa, #RBh { background: url('../images/RB.svg'); background-size: 100% 100%; }
  #NBb, #NBg { background: url('../images/NB.svg'); background-size: 100% 100%; }
  #BBc, #BBf { background: url('../images/BB.svg'); background-size: 100% 100%; }
  #QBd { background: url('../images/QB.svg'); background-size: 100% 100%; }
  #KBe { background: url('../images/KB.svg'); background-size: 100% 100%; }

  #PWa, #PWb ,#PWc ,#PWd ,#PWe ,#PWf ,#PWg ,#PWh { background: url('../images/PW.svg'); background-size: 100% 100%; }
  #RWa, #RWh { background: url('../images/RW.svg'); background-size: 100% 100%; }
  #NWb, #NWg { background: url('../images/NW.svg'); background-size: 100% 100%; }
  #BWc, #BWf { background: url('../images/BW.svg'); background-size: 100% 100%; }
  #QWd { background: url('../images/QW.svg'); background-size: 100% 100%; }
  #KWe { background: url('../images/KW.svg'); background-size: 100% 100%; }

  .highlight {
    background: #DD4B39!important;
  }

  .from {
    background: #3D9400!important;
  }

  .to {
    background: #4D90FE!important;
  }

  #a1,#a3,#a5,#a7,#b2,#b4,#b6,#b8,#c1,#c3,#c5,#c7,#d2,#d4,#d6,#d8,#e1,#e3,#e5,#e7,#f2,#f4,#f6,#f8,#g1,#g3,#g5,#g7,#h2,#h4,#h6,#h8 {
    background: #333;
  }
  #a2,#a4,#a6,#a8,#b1,#b3,#b5,#b7,#c2,#c4,#c6,#c8,#d1,#d3,#d5,#d7,#e2,#e4,#e6,#e8,#f1,#f3,#f5,#f7,#g2,#g4,#g6,#g8,#h1,#h3,#h5,#h7 {
    background: #eee;
  }
  #a9,#a10,#a11,#a12,#b9,#b10,#b11,#b12,#c9,#c10,#c11,#c12,#d9,#d10,#d11,#d12,#e9,#e10,#e11,#e12,#f9,#f10,#f11,#f12,#g9,#g10,#g11,#g12,#h9,#h10,#h11,#h12 {
    background: rgba(100, 100, 100, 0.2);
    border: 1px solid rgba(255,255,255,0.1);
    // background: transparent;
  }

  .animated {
    @include transition-property(top, left);
    @include transition-duration(0.5s);
  }

  .captured {
    opacity: 0.25;
    &#PWa {left: 0%; top:-12.5%}
    &#PWb {left: 12.5%; top:-12.5%} 
    &#PWc {left: 25%; top:-12.5%} 
    &#PWd {left: 37.5%; top:-12.5%} 
    &#PWe {left: 50%; top:-12.5%} 
    &#PWf {left: 62.5%; top:-12.5%} 
    &#PWg {left: 75%; top:-12.5%} 
    &#PWh {left: 87.5%; top:-12.5%}
    &#RWa { left: 0%; top:-25%; }
    &#RWh { left: 87.5%; top:-25%; }
    &#NWb { left: 12.5%; top:-25%; }
    &#NWg { left: 75%; top:-25%; }
    &#BWc { left: 25%; top:-25%; }
    &#BWf { left: 62.5%; top:-25%; }
    &#QWd { left: 37.5%; top:-25%; }
    &#KWe { left: 50%; top:-25%; }

    &#PBa {left: 0%; top:100%}
    &#PBb {left: 12.5%; top:100%} 
    &#PBc {left: 25%; top:100%} 
    &#PBd {left: 37.5%; top:100%} 
    &#PBe {left: 50%; top:100%} 
    &#PBf {left: 62.5%; top:100%} 
    &#PBg {left: 75%; top:100%} 
    &#PBh {left: 87.5%; top:100%}
    &#RBa { left: 0%; top:112.5%; }
    &#RBh { left: 87.5%; top:112.5%; }
    &#NBb { left: 12.5%; top:112.5%; }
    &#NBg { left: 75%; top:112.5%; }
    &#BBc { left: 25%; top:112.5%; }
    &#BBf { left: 62.5%; top:112.5%; }
    &#QBd { left: 37.5%; top:112.5%; }
    &#KBe { left: 50%; top:112.5%; }
  }

  #a1, .a1 {left: 0%; top:87.5%}
  #a2, .a2 {left: 0%; top:75.0%}
  #a3, .a3 {left: 0%; top:62.5%}
  #a4, .a4 {left: 0%; top:50.0%}
  #a5, .a5 {left: 0%; top:37.5%}
  #a6, .a6 {left: 0%; top:25.0%}
  #a7, .a7 {left: 0%; top:12.5%}
  #a8, .a8 {left: 0%; top:0.0%}
  #b1, .b1 {left: 12.5%; top:87.5%}
  #b2, .b2 {left: 12.5%; top:75.0%}
  #b3, .b3 {left: 12.5%; top:62.5%}
  #b4, .b4 {left: 12.5%; top:50.0%}
  #b5, .b5 {left: 12.5%; top:37.5%}
  #b6, .b6 {left: 12.5%; top:25.0%}
  #b7, .b7 {left: 12.5%; top:12.5%}
  #b8, .b8 {left: 12.5%; top:0.0%}
  #c1, .c1 {left: 25.0%; top:87.5%}
  #c2, .c2 {left: 25.0%; top:75.0%}
  #c3, .c3 {left: 25.0%; top:62.5%}
  #c4, .c4 {left: 25.0%; top:50.0%}
  #c5, .c5 {left: 25.0%; top:37.5%}
  #c6, .c6 {left: 25.0%; top:25.0%}
  #c7, .c7 {left: 25.0%; top:12.5%}
  #c8, .c8 {left: 25.0%; top:0.0%}
  #d1, .d1 {left: 37.5%; top:87.5%}
  #d2, .d2 {left: 37.5%; top:75.0%}
  #d3, .d3 {left: 37.5%; top:62.5%}
  #d4, .d4 {left: 37.5%; top:50.0%}
  #d5, .d5 {left: 37.5%; top:37.5%}
  #d6, .d6 {left: 37.5%; top:25.0%}
  #d7, .d7 {left: 37.5%; top:12.5%}
  #d8, .d8 {left: 37.5%; top:0.0%}
  #e1, .e1 {left: 50.0%; top:87.5%}
  #e2, .e2 {left: 50.0%; top:75.0%}
  #e3, .e3 {left: 50.0%; top:62.5%}
  #e4, .e4 {left: 50.0%; top:50.0%}
  #e5, .e5 {left: 50.0%; top:37.5%}
  #e6, .e6 {left: 50.0%; top:25.0%}
  #e7, .e7 {left: 50.0%; top:12.5%}
  #e8, .e8 {left: 50.0%; top:0.0%}
  #f1, .f1 {left: 62.5%; top:87.5%}
  #f2, .f2 {left: 62.5%; top:75.0%}
  #f3, .f3 {left: 62.5%; top:62.5%}
  #f4, .f4 {left: 62.5%; top:50.0%}
  #f5, .f5 {left: 62.5%; top:37.5%}
  #f6, .f6 {left: 62.5%; top:25.0%}
  #f7, .f7 {left: 62.5%; top:12.5%}
  #f8, .f8 {left: 62.5%; top:0.0%}
  #g1, .g1 {left: 75.0%; top:87.5%}
  #g2, .g2 {left: 75.0%; top:75.0%}
  #g3, .g3 {left: 75.0%; top:62.5%}
  #g4, .g4 {left: 75.0%; top:50.0%}
  #g5, .g5 {left: 75.0%; top:37.5%}
  #g6, .g6 {left: 75.0%; top:25.0%}
  #g7, .g7 {left: 75.0%; top:12.5%}
  #g8, .g8 {left: 75.0%; top:0.0%}
  #h1, .h1 {left: 87.5%; top:87.5%}
  #h2, .h2 {left: 87.5%; top:75.0%}
  #h3, .h3 {left: 87.5%; top:62.5%}
  #h4, .h4 {left: 87.5%; top:50.0%}
  #h5, .h5 {left: 87.5%; top:37.5%}
  #h6, .h6 {left: 87.5%; top:25.0%}
  #h7, .h7 {left: 87.5%; top:12.5%}
  #h8, .h8 {left: 87.5%; top:0.0%}

  #a9, .a9  {left: 0%; top:-12.5%}
  #a10,.a10 {left: 0%; top:-25.0%}
  #a11,.a11 {left: 0%; top:100.0%}
  #a12,.a12 {left: 0%; top:112.5%}
  #b9, .b9  {left: 12.5%; top:-12.5%}
  #b10,.b10 {left: 12.5%; top:-25.0%}
  #b11,.b11 {left: 12.5%; top:100.0%}
  #b12,.b12 {left: 12.5%; top:112.5%}
  #c9, .c9  {left: 25.0%; top:-12.5%}
  #c10,.c10 {left: 25.0%; top:-25.0%}
  #c11,.c11 {left: 25.0%; top:100.0%}
  #c12,.c12 {left: 25.0%; top:112.5%}
  #d9, .d9  {left: 37.5%; top:-12.5%}
  #d10,.d10 {left: 37.5%; top:-25.0%}
  #d11,.d11 {left: 37.5%; top:100.0%}
  #d12,.d12 {left: 37.5%; top:112.5%}
  #e9, .e9  {left: 50.0%; top:-12.5%}
  #e10,.e10 {left: 50.0%; top:-25.0%}
  #e11,.e11 {left: 50.0%; top:100.0%}
  #e12,.e12 {left: 50.0%; top:112.5%}
  #f9, .f9  {left: 62.5%; top:-12.5%}
  #f10,.f10 {left: 62.5%; top:-25.0%}
  #f11,.f11 {left: 62.5%; top:100.0%}
  #f12,.f12 {left: 62.5%; top:112.5%}
  #g9, .g9  {left: 75.0%; top:-12.5%}
  #g10,.g10 {left: 75.0%; top:-25.0%}
  #g11,.g11 {left: 75.0%; top:100.0%}
  #g12,.g12 {left: 75.0%; top:112.5%}
  #h9, .h9  {left: 87.5%; top:-12.5%}
  #h10,.h10 {left: 87.5%; top:-25.0%}
  #h11,.h11 {left: 87.5%; top:100.0%}
  #h12,.h12 {left: 87.5%; top:112.5%}

  .playWhite {
    left: 50%;
    top: 112.5%;
  }
  .playBlack {
    left: 50%;
    top: -12.5%;
  }
  .inviteFriend {
    left: 50%;
    top: 50%;
  }

}

chessboard.black {

  #a1, .a1 {left: 87.5%; top:0.0%}
  #a2, .a2 {left: 87.5%; top:12.5%}
  #a3, .a3 {left: 87.5%; top:25.0%}
  #a4, .a4 {left: 87.5%; top:37.5%}
  #a5, .a5 {left: 87.5%; top:50.0%}
  #a6, .a6 {left: 87.5%; top:62.5%}
  #a7, .a7 {left: 87.5%; top:75.0%}
  #a8, .a8 {left: 87.5%; top:87.5%}
  #b1, .b1 {left: 75.0%; top:0.0%}
  #b2, .b2 {left: 75.0%; top:12.5%}
  #b3, .b3 {left: 75.0%; top:25.0%}
  #b4, .b4 {left: 75.0%; top:37.5%}
  #b5, .b5 {left: 75.0%; top:50.0%}
  #b6, .b6 {left: 75.0%; top:62.5%}
  #b7, .b7 {left: 75.0%; top:75.0%}
  #b8, .b8 {left: 75.0%; top:87.5%}
  #c1, .c1 {left: 62.5%; top:0.0%}
  #c2, .c2 {left: 62.5%; top:12.5%}
  #c3, .c3 {left: 62.5%; top:25.0%}
  #c4, .c4 {left: 62.5%; top:37.5%}
  #c5, .c5 {left: 62.5%; top:50.0%}
  #c6, .c6 {left: 62.5%; top:62.5%}
  #c7, .c7 {left: 62.5%; top:75.0%}
  #c8, .c8 {left: 62.5%; top:87.5%}
  #d1, .d1 {left: 50.0%; top:0.0%}
  #d2, .d2 {left: 50.0%; top:12.5%}
  #d3, .d3 {left: 50.0%; top:25.0%}
  #d4, .d4 {left: 50.0%; top:37.5%}
  #d5, .d5 {left: 50.0%; top:50.0%}
  #d6, .d6 {left: 50.0%; top:62.5%}
  #d7, .d7 {left: 50.0%; top:75.0%}
  #d8, .d8 {left: 50.0%; top:87.5%}
  #e1, .e1 {left: 37.5%; top:0.0%}
  #e2, .e2 {left: 37.5%; top:12.5%}
  #e3, .e3 {left: 37.5%; top:25.0%}
  #e4, .e4 {left: 37.5%; top:37.5%}
  #e5, .e5 {left: 37.5%; top:50.0%}
  #e6, .e6 {left: 37.5%; top:62.5%}
  #e7, .e7 {left: 37.5%; top:75.0%}
  #e8, .e8 {left: 37.5%; top:87.5%}
  #f1, .f1 {left: 25.0%; top:0.0%}
  #f2, .f2 {left: 25.0%; top:12.5%}
  #f3, .f3 {left: 25.0%; top:25.0%}
  #f4, .f4 {left: 25.0%; top:37.5%}
  #f5, .f5 {left: 25.0%; top:50.0%}
  #f6, .f6 {left: 25.0%; top:62.5%}
  #f7, .f7 {left: 25.0%; top:75.0%}
  #f8, .f8 {left: 25.0%; top:87.5%}
  #g1, .g1 {left: 12.5%; top:0.0%}
  #g2, .g2 {left: 12.5%; top:12.5%}
  #g3, .g3 {left: 12.5%; top:25.0%}
  #g4, .g4 {left: 12.5%; top:37.5%}
  #g5, .g5 {left: 12.5%; top:50.0%}
  #g6, .g6 {left: 12.5%; top:62.5%}
  #g7, .g7 {left: 12.5%; top:75.0%}
  #g8, .g8 {left: 12.5%; top:87.5%}
  #h1, .h1 {left: 0%; top:0.0%}
  #h2, .h2 {left: 0%; top:12.5%}
  #h3, .h3 {left: 0%; top:25.0%}
  #h4, .h4 {left: 0%; top:37.5%}
  #h5, .h5 {left: 0%; top:50.0%}
  #h6, .h6 {left: 0%; top:62.5%}
  #h7, .h7 {left: 0%; top:75.0%}
  #h8, .h8 {left: 0%; top:87.5%}

  .playWhite {
    left: 50%;
    top: -12.5%;
  }
  .playBlack {
    left: 50%;
    top: 112.5%;
  }

  .captured {
    &#PBa {left: 0%; top:-12.5%}
    &#PBb {left: 12.5%; top:-12.5%} 
    &#PBc {left: 25%; top:-12.5%} 
    &#PBd {left: 37.5%; top:-12.5%} 
    &#PBe {left: 50%; top:-12.5%} 
    &#PBf {left: 62.5%; top:-12.5%} 
    &#PBg {left: 75%; top:-12.5%} 
    &#PBh {left: 87.5%; top:-12.5%}
    &#RBa { left: 0%; top:-25%; }
    &#RBh { left: 87.5%; top:-25%; }
    &#NBb { left: 12.5%; top:-25%; }
    &#NBg { left: 75%; top:-25%; }
    &#BBc { left: 25%; top:-25%; }
    &#BBf { left: 62.5%; top:-25%; }
    &#QBd { left: 37.5%; top:-25%; }
    &#KBe { left: 50%; top:-25%; }

    &#PWa {left: 0%; top:100%}
    &#PWb {left: 12.5%; top:100%} 
    &#PWc {left: 25%; top:100%} 
    &#PWd {left: 37.5%; top:100%} 
    &#PWe {left: 50%; top:100%} 
    &#PWf {left: 62.5%; top:100%} 
    &#PWg {left: 75%; top:100%} 
    &#PWh {left: 87.5%; top:100%}
    &#RWa { left: 0%; top:112.5%; }
    &#RWh { left: 87.5%; top:112.5%; }
    &#NWb { left: 12.5%; top:112.5%; }
    &#NWg { left: 75%; top:112.5%; }
    &#BWc { left: 25%; top:112.5%; }
    &#BWf { left: 62.5%; top:112.5%; }
    &#QWd { left: 37.5%; top:112.5%; }
    &#KWe { left: 50%; top:112.5%; }
  }

}