@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

@import "chessboard";

body {
  background-color: #000;
  overflow: hidden;
}

.loader {
	background-image: url('../images/ajax-loader.gif');
	position: absolute;
	text-align: center;
	width: 32px;
	height: 32px;
  top: 50%;
  left: 50%;
  z-index: 1000;
}

#nav {
	position: relative;
	z-index: 10000;
}