<div id="nav" class="navbar navbar-inverse" ng-show="showBoard">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <editable class="brand" ng-model="title" ng-change="updateTitle()" ></editable>

      <div id="players" class="pull-right">
        <img ng-show="players.get('whitePlayerID')" ng-src="{{players.get('whitePlayerPhoto')}}" alt="{{players.get('blackPlayerName')}}" class="img-rounded avatarWhite">
        <span ng-hide="!players.get('whitePlayerID') || !players.get('blackPlayerID')" class="vs">vs.</span>
        <img ng-show="players.get('blackPlayerID')" ng-src="{{players.get('blackPlayerPhoto')}}" alt="{{players.get('blackPlayerName')}}" class="img-rounded avatarBlack">
      </div>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a ng-click="flip()">Flip Board</a></li>
          <li><a ng-click="create()">New</a></li>
          <li><a ng-click="open()">Open</a></li>
          <li><a ng-click="share()">Share</a></li>
          <li><a href="http://github.com/dataarts/drivechess" target="_blank">About</a></li>
        </ul>
      </div>


    </div>
  </div>
</div>



<div ng-hide="showBoard" class="loader" id="loader"></div>
<div class="modal" ng-hide="authorized" ng-show="needsAuth">
	<div class="modal-header">
		<h3>Drive Chess</h3>
	</div>
	<div class="modal-body">
		<p>
      Drive Chess is a game made on top of <a href="https://developers.google.com/drive/realtime/" target="_blank">Google Drive Realtime API</a>. It stores the individual game files in your personal Drive storage and allows you to share them with your friends. This game is open source and you can get the code on <a href="http://github.com/dataarts/drivechess" target="_blank">GitHub</a>.
    </p>
    <img src="./images/chessboard.png" />
    <p>
      Your authorization is needed to store your chess games in your Google Drive. 
	  </p>
  </div>


	<div class="modal-footer">
		<button class="btn btn-primary" id="authorizeButton" disabled>Authorize</button>
	</div>
</div>

<chessboard ng-transclude ng-show="showBoard" ng-style="style">
  <piece id="PWa"></piece>
  <piece id="PWb"></piece>
  <piece id="PWc"></piece>
  <piece id="PWd"></piece>
  <piece id="PWe"></piece>
  <piece id="PWf"></piece>
  <piece id="PWg"></piece>
  <piece id="PWh"></piece>
  <piece id="RWa"></piece>
  <piece id="RWh"></piece>
  <piece id="NWb"></piece>
  <piece id="NWg"></piece>
  <piece id="BWc"></piece>
  <piece id="BWf"></piece>
  <piece id="QWd"></piece>
  <piece id="KWe"></piece>
  <piece id="PBa"></piece>
  <piece id="PBb"></piece>
  <piece id="PBc"></piece>
  <piece id="PBd"></piece>
  <piece id="PBe"></piece>
  <piece id="PBf"></piece>
  <piece id="PBg"></piece>
  <piece id="PBh"></piece>
  <piece id="RBa"></piece>
  <piece id="RBh"></piece>
  <piece id="NBb"></piece>
  <piece id="NBg"></piece>
  <piece id="BBc"></piece>
  <piece id="BBf"></piece>
  <piece id="QBd"></piece>
  <piece id="KBe"></piece>
  <div ng-show="!players.get(me.userId)" id="blocker"></div>
  <a ng-hide="players.get('whitePlayerID')" ng-click="chooseSide('white')" class="playWhite btn btn-primary">Choose white</a>
  <a ng-show="!players.get('blackPlayerID')" ng-click="chooseSide('black')" class="playBlack btn btn-primary">Choose black</a>
  <a ng-show="(!players.get('whitePlayerID') || !players.get('blackPlayerID')) && !players.get('invited')" ng-click="share()" class="inviteFriend btn btn-primary">Invite a friend</a>
</chessboard>
