<div ng-hide="needsAuth || authorized" class="loader" id="loader"></div>
<div class="modal" ng-hide="authorized" ng-show="needsAuth">
	<div class="modal-header">
		<h3>Drive Chess</h3>
	</div>
	<div class="modal-body">
		Your authorization is needed to store you chess games in your Google Drive.
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" id="authorizeButton" disabled>Authorize</button>
	</div>
</div>
<chessboard ng-transclude ng-show="authorized" ng-style="style">
	<piece id="PWa"></piece>
	<piece id="PWb"></piece>
	<piece id="PWc"></piece>
	<piece id="PWd"></piece>
	<piece id="PWe"></piece>
	<piece id="PWf"></piece>
	<piece id="PWg"></piece>
	<piece id="PWh"></piece>
	<piece id="RWa"></piece>
	<piece id="RWh"></piece>
	<piece id="NWb"></piece>
	<piece id="NWg"></piece>
	<piece id="BWc"></piece>
	<piece id="BWf"></piece>
	<piece id="QWd"></piece>
	<piece id="KWe"></piece>
	<piece id="PBa"></piece>
	<piece id="PBb"></piece>
	<piece id="PBc"></piece>
	<piece id="PBd"></piece>
	<piece id="PBe"></piece>
	<piece id="PBf"></piece>
	<piece id="PBg"></piece>
	<piece id="PBh"></piece>
	<piece id="RBa"></piece>
	<piece id="RBh"></piece>
	<piece id="NBb"></piece>
	<piece id="NBg"></piece>
	<piece id="BBc"></piece>
	<piece id="BBf"></piece>
	<piece id="QBd"></piece>
	<piece id="KBe"></piece>
</chessboard>