<chessboard>
	<piece id="PBa" class="a2"/>
	<piece id="PBb" class="b2"/>
	<piece id="PBc" class="c2"/>
	<piece id="PBd" class="d2"/>
	<piece id="PBe" class="e2"/>
	<piece id="PBf" class="f2"/>
	<piece id="PBg" class="g2"/>
	<piece id="PBh" class="h2"/>
	<piece id="RBa" class="a1"/>
	<piece id="RBh" class="h1"/>
	<piece id="NBb" class="b1"/>
	<piece id="NBg" class="g1"/>
	<piece id="BBc" class="c1"/>
	<piece id="BBf" class="f1"/>
	<piece id="QBd" class="d1"/>
	<piece id="KBe" class="e1"/>
	<piece id="PWa"/>
	<piece id="PWb"/>
	<piece id="PWc"/>
	<piece id="PWd"/>
	<piece id="PWe"/>
	<piece id="PWf"/>
	<piece id="PWg"/>
	<piece id="PWh"/>
	<piece id="RWa"/>
	<piece id="RWh"/>
	<piece id="NWb"/>
	<piece id="NWg"/>
	<piece id="BWc"/>
	<piece id="BWf"/>
	<piece id="QWd"/>
	<piece id="KWe"/>
</chessboard>