<chessboard ng-transclude>
	<piece id="PBa" position="a7"></piece>
	<piece id="PBb" position="b7"></piece>
	<piece id="PBc" position="c7"></piece>
	<piece id="PBd" position="d7"></piece>
	<piece id="PBe" position="e7"></piece>
	<piece id="PBf" position="f7"></piece>
	<piece id="PBg" position="g7"></piece>
	<piece id="PBh" position="h7"></piece>
	<piece id="RBa" position="a8"></piece>
	<piece id="RBh" position="h8"></piece>
	<piece id="NBb" position="b8"></piece>
	<piece id="NBg" position="g8"></piece>
	<piece id="BBc" position="c8"></piece>
	<piece id="BBf" position="f8"></piece>
	<piece id="QBd" position="d8"></piece>
	<piece id="KBe" position="e8"></piece>
	<piece id="PWa" position="a2"></piece>
	<piece id="PWb" position="b2"></piece>
	<piece id="PWc" position="c2"></piece>
	<piece id="PWd" position="d2"></piece>
	<piece id="PWe" position="e2"></piece>
	<piece id="PWf" position="f2"></piece>
	<piece id="PWg" position="g2"></piece>
	<piece id="PWh" position="h2"></piece>
	<piece id="RWa" position="a1"></piece>
	<piece id="RWh" position="h1"></piece>
	<piece id="NWb" position="b1"></piece>
	<piece id="NWg" position="g1"></piece>
	<piece id="BWc" position="c1"></piece>
	<piece id="BWf" position="f1"></piece>
	<piece id="QWd" position="d1"></piece>
	<piece id="KWe" position="e1"></piece>
</chessboard>